@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap'); 

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #232c33;
    --secondary-color: #dadff7;
    --accent1-color: #a0c1d1;
    --accent2-color: #b5b2c2;

    --heading-font: 'yellowtail', serif;
    --paragraph-font: 'Gabriela', serif;

    --nav-background-color: #232c23;
    --nav-link-color: #dadff7;
    --nav-hover-link-color: #a0c1d1;
    --nav-hover-background-color: #b5b2c2;

}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 20px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}